# Elin Haugum
Elin Haugum
Elin Haugum <elihaugu@stud.ntnu.no> Elin <elihaugu@stud.ntnu.no>

# Kristoffer Nohr Olaisen
Kristoffer Nohr Olaisen <krisnol@stud.ntnu.no> krisnol <66872548+Knolaisen@users.noreply.github.com>
Kristoffer Nohr Olaisen <krisnol@stud.ntnu.no> Kristoffer Olaisen <krisnol@stud.ntnu.no>

# Simon Sandvik Lee
Simon Sandvik Lee <simonsle@stud.ntnu.no> SaiYueWasTaken <74411800+SaiYueWasTaken@users.noreply.github.com>
Simon Sandvik Lee <simonsle@stud.ntnu.no> SaiYue <74411800+SaiYueWasTaken@users.noreply.github.com>

# Sverre Nystad
Sverre Nystad <sverrnys@stud.ntnu.no> Sverre Nystad <sverrnys@ntnu.no>
