.popup {
    -fx-background-color: rgb(166, 19, 8, 1); /* pane background color */
    -fx-padding: 1em 1em 1em 1em;
}

.popup > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em; /* text padding */
    -fx-background-color: rgb(124, 136, 156, 0.25); /* text background */
    -fx-background-opacity: 0.5; /* text background opacity */
    -fx-text-fill:white; /* Color for  */
    -fx-font-size:30.0px; /* font size content text */
    -fx-font-family: "Arial Rounded MT Bold";
 }
 
 /**Costumization of DialogPane Header**/
 .popup:header .header-panel {
   -fx-background-color: yellow;
 }
 
 .popup:header .header-panel .label{
   -fx-background-color: blue;
   -fx-background-radius:10px;
   -fx-text-fill:green;
   -fx-font-size:15.0px;
 }
 
 
 /**Costumization of Buttons**/
 .popup .button{
    -fx-background-color:purple;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, red, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
  }
 
 .popup .button:hover{     
   -fx-background-color:yellow;
   -fx-text-fill:black;
   -fx-font-weight:bold; 
  }